// lear
// To Do App

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}

// Colors
$lightBlue: hsl(220, 98%, 61%);
$darkBlue: hsl(235, 24%, 19%);
$veryDarkBlue: hsl(235, 21%, 11%);
$lightGray: hsl(0, 0%, 98%);
$mediumGray: hsl(236, 33%, 92%);
$mediumDarkGray: hsl(233, 11%, 84%);
$darkGray: hsl(236, 9%, 61%);
$veryDarkGray: hsl(235, 19%, 35%);
$checkedBackground: linear-gradient(
  45deg,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: $lightGray;
  transition: 0.5s;
}

.dark-body {
  background-color: $veryDarkBlue;

  .add-section,
  .tasks-section {
    background-color: $darkBlue !important;
    box-shadow: 0 0 1rem $darkBlue !important;

    .main-input,
    .task-text,
    .search-section {
      background-color: $darkBlue !important;
      color: $mediumGray !important;
    }

    .check-btn:hover {
      background-color: $veryDarkBlue;
    }
  }
}

// Banner
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-image: url(assets/bg-desktop-light.jpg);
  z-index: -1;
}

// Container
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(500px, 90vw);
  margin: 2rem 0 4rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 2.4rem;
      letter-spacing: 1rem;
      color: $lightGray;
    }

    .theme-icon {
      cursor: pointer;
    }
  }

  .add-section {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 1rem $mediumGray;

    .add-btn {
      display: grid;
      place-content: center;
      width: 24px;
      height: 24px;
      cursor: pointer;
      border: none;
      position: absolute;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background-color: $lightBlue;
      color: $lightGray;
      font-size: 1.4rem;

      &:hover {
        filter: brightness(110%);
        -webkit-filter: brightness(110%);
      }
    }

    .main-input {
      width: 90%;
      padding: 1.5rem;
      border: none;
      outline: none;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      font-size: 1rem;
    }
  }

  .tasks-section {
    background-color: #fff;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 0 1rem $mediumGray;

    .task {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid $darkGray;

      &.hidden-task {
        display: none;
      }

      .task-text {
        width: 80%;
        font-size: 1.1rem;
        color: $veryDarkGray;
        font-weight: 400;
        border: none;
        outline: none;
      }

      .cross-btn {
        padding: 0.5rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        cursor: pointer;

        &:hover {
          background-color: $mediumGray;
        }
      }
    }

    .about-tasks {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5rem;

      .left-items,
      .clear-btn,
      .active-btn,
      .completed-btn {
        font-size: 0.9rem;
        color: $darkGray;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          color: $veryDarkGray;
        }
      }

      .search-section {
        display: flex;
        align-items: center;
        gap: 1rem;

        .all-btn {
          font-size: 0.9rem;
          font-weight: 700;
          color: $lightBlue;
          cursor: pointer;
        }

        .active-btn,
        .completed-btn {
          font-weight: 700;
        }
      }
    }
  }

  .check-btn {
    display: grid;
    place-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid $veryDarkGray;
    cursor: pointer;

    &.active {
      background-image: $checkedBackground;
      border: none;
    }

    &:hover {
      background-color: $lightGray;
    }

    img {
      pointer-events: none;
    }
  }
}

// For Smaller Devices
@media screen and (max-width: 560px) {
  .search-section {
    justify-content: center;
    gap: 1.5rem !important;
    position: absolute;
    bottom: -120%;
    left: 0;
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .task-text {
    width: 70% !important;
  }
}
